<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <h1 class="text-center">{{developer.name}}</h1>

      <div class="row">
        <div class="col-sm-9">
          <p class="developer-description">{{developer.description}}</p>
        </div>
        <div class="col-sm-3">
          {{#slick-carousel class="ember-carousel"
                            autoplay=false
                            slidesToShow=1
                            slidesToScroll=1
                            dots=false
                            arrows=true
                            centerMode=true
                            dots=true
                            fade=true}}
            <div><img src="http://lorempixel.com/128/128/people/{{developer.id}}" alt=""></div>
            <div><img src="http://lorempixel.com/128/128/people/{{developer.id}}-2" alt=""></div>
            <div><img src="http://lorempixel.com/128/128/people/{{developer.id}}-3" alt=""></div>
          {{/slick-carousel}}
        </div>
      </div>

      {{!-- Skills --}}
      <div class="row">
        <div class="col-xs-12">
          {{#if matchedSkills.length}}
            <div class="matched-skills">
              <h3>Matched skills</h3>
              {{#each matchedSkills as |matchedSkill|}}
                <div>
                  {{matchedSkill.skill.name}}
                  | {{matchedSkill.experience}}m
                  | {{matchedSkill.level}}
                </div>
              {{/each}}
            </div>
          {{/if}}
          {{#if unmatchedSkills.length}}
            <div class="unmatched-skills">
              <h3>Unmatched skills</h3>
              {{#each unmatchedSkills as |unmatchedSkill|}}
                <div>
                  <b>{{unmatchedSkill.skill.name}}</b>
                  ({{unmatchedSkill.experience}}m,
                  {{unmatchedSkill.level}}):
                  {{#each unmatchedSkill.tools as |tool|}}
                    {{tool.name}},
                  {{/each}}
                </div>
              {{/each}}
            </div>
          {{/if}}
        </div>
      </div>

      {{!-- CVs --}}
      <div class="row">
        <div class="col-xs-12">
          {{#each developer.cvs as |cv|}}
            <div class="panel panel-default">
              <div class="panel-body">
                <h4 class="text-center">{{cv.name}}</h4>
                <p class="text-muted">{{cv.comment}}</p>
                <div class="cv-skills">
                  {{#each cv.skills as |developerSkill|}}
                    <div class="label label-default">
                      {{developerSkill.skill.name}}
                      | {{developerSkill.experience}}m
                      | {{developerSkill.level}}
                    </div>
                  {{/each}}
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>

      {{!-- Projects --}}
      <div class="row">
        <div class="col-xs-12">
          {{#each developer.projects as |developerProject|}}
            <div class="panel panel-default">
              <div class="panel-body">
                <h4 class="text-center">{{developerProject.project.name}}</h4>
                <p class="text-muted">{{developerProject.project.description}}</p>
                <a href="{{developerProject.project.url}}" target="_blank">{{developerProject.project.url}}</a>
                <dl>
                  <dt>Role</dt>
                  <dd>{{developerProject.role}}</dd>

                  <dt>Involvement rate</dt>
                  <dd>{{show-in-percents developerProject.involvementRate}}</dd>
                </dl>
              </div>
            </div>
          {{/each}}
        </div>
      </div>

    </div>
  </div>
</div>