<div class="row">
  <div class="col-sm-3">
    <div class="search-input">
      {{input value=searchQuery class='form-control' placeholder='Search...'}}
      <ul class="skills-filter">
        {{#each filteredSkills as |skill i|}}
          <li>
            <div class="row">
              <div class="col-xs-2">
                <input type="checkbox" id="skill-{{i}}" onchange={{action 'skillSelected' skill.id}}>
              </div>
              <div class="col-xs-5">
                <label for="skill-{{i}}">{{skill.name}}</label>
              </div>
              {{#if (array-contains filterSkillsIds skill.id)}}
                <div class="col-xs-5">
                  {{ui-slider value=0
                              min=0
                              max=4
                              step=1
                              changed=(action 'skillLevelChanged' skill.id)
                              orientation='horizontal'}}
                </div>
              {{/if}}
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="col-sm-9">
    {{#each filteredDevelopers as |developer|}}
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div class="media-left">
              <img height="64" width="64" class="media-object" src="{{developer.photo}}/{{developer.id}}">
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{developer.name}}</h4>
              <p>{{developer.description}}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-6 developer-skills">
              {{#each developer.developerSkills as |developerSkill|}}
              <div class="developer-skill">
                {{developerSkill.skill.name}}
                | {{developerSkill.experience}}m
                | {{developerSkill.level}}
              </div>
              {{/each}}
            </div>
            <div class="col-xs-6 developer-others">
              <div class="developer-project-count">
                Projects: {{developer.projects.length}}
              </div>
            </div>
          </div>

        </div>
        <div class="panel-footer">
          <div class="row">
            {{link-to 'Preview' 'secured.developer.index' developer.id class="col-xs-offset-1 col-xs-4 col-sm-offset-2 col-sm-2 btn btn-default"}}
            {{link-to 'Create CV' 'secured.developer.create-cv' developer.id class="col-xs-offset-2 col-xs-4 col-sm-offset-4 col-sm-2 btn btn-success"}}
          </div>
        </div>
      </div>
    {{/each}}

  </div>
</div>